<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta th:replace="fragments/header :: tags"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="fragments/categories :: categories"></div>

<div class="py-4 bg-light">
    <div class="container">
        <div class="row" th:each="child : ${childs}">
            <div class="col-md-3 p-3">
                <div class="card box-shadow">
                    <img class="card-img-top" th:src="'/' + ${child.imagePath}">
                </div>
            </div>
            <div class="col-md-9 p-3">
                <div class="card box-shadow">
                    <div class="card-body" th:object="${child}">
                        <p class="card-text text-muted"><a th:href="'/' + *{uri}" th:text="*{pageTitle}"></a></p>
                        <p class="card-text text-muted" th:text="*{pageTitle}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts :: js"></div>

</body>
</html>